# Ignore large datasets ONLY
Genre Classification Dataset/

# Ignore common data files (but NOT archive/)
*.csv
*.zip
*.parquet
*.pkl

# Python cache
__pycache__/
.ipynb_checkpoints/

# IDE
.vscode/